In [1]:
import pandas as pd

### Series

In [2]:
data = [1, 2, 3, 4, 5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# Definindo Index
index = ['Linha ' + str(i) for i in range(5)]
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [6]:
# Aplicando index
s = pd.Series(data=data, index=index)
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [7]:
# Index com dicionário
data = {'Linha ' + str(i): i + 1 for i in range(5)}
data

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [8]:
series = pd.Series(data)
series

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [9]:
# Pode realizar operações
series_1 = series * 2
series_1

Linha 0     2
Linha 1     4
Linha 2     6
Linha 3     8
Linha 4    10
dtype: int64

In [10]:
# Operação entre series
series_2 = series + series_1
series_2

Linha 0     3
Linha 1     6
Linha 2     9
Linha 3    12
Linha 4    15
dtype: int64

### DataFrame

In [11]:
data = [[1, 2, 3], 
        [3, 5, 6],
        [7, 8, 9]]

In [12]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  3  5  6
2  7  8  9

In [27]:
# Index
index = ['Linha ' + str(i) for i in range(3)]
index

['Linha 0', 'Linha 1', 'Linha 2']

In [28]:
# Criação de Colunas
coluna = ['Coluna ' + str(i) for i in range(3)]
coluna

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [29]:
df1 = pd.DataFrame(data = data, index = index, columns=coluna)
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         3         5         6
Linha 2         7         8         9

In [30]:
# Dicionário 

data = {'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
        'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
        'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}

In [31]:
df2 = pd.DataFrame(data)
df2

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [32]:
# Tuplas

data = [(1, 2, 3), 
        (3, 5, 6),
        (7, 8, 9)]
data

[(1, 2, 3), (3, 5, 6), (7, 8, 9)]

In [33]:
# df3 = pd.DataFrame(data=data, index=index, columns=coluna)
# Pode-se passar os valores diretamente

df3 = pd.DataFrame(data, index, coluna)
df3

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         3         5         6
Linha 2         7         8         9

In [34]:
# Mudando valor da series
df1[df1 > 0] = 'A'
df2[df2 > 0] = 'B'
df3[df3 > 0] = 'C'

In [35]:
# Empilha uma em cima da outra

df4 = pd.concat([df1, df2, df3])
df4

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [36]:
# Um do lado do outro

df5 = pd.concat([df1, df2, df3], axis = 1)
df5

,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2
Linha 0,A,A,A,B,B,B,C,C,C
Linha 1,A,A,A,B,B,B,C,C,C
Linha 2,A,A,A,B,B,B,C,C,C