In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdesdsdasesdareer'))
s

0     a
1     s
2     d
3     e
4     s
5     d
6     s
7     d
8     a
9     s
10    e
11    s
12    d
13    a
14    r
15    e
16    e
17    r
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'e', 'r'], dtype=object)

In [4]:
s.value_counts()

s    5
d    4
e    4
a    3
r    2
dtype: int64

In [5]:
dados = pd.read_csv('Data/aluguel.csv', sep = ';')

In [6]:
dados['Tipo'].unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [7]:
dados['Tipo'].value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: Tipo, dtype: int64