In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.60, None, 0.7]

In [4]:
dados_series = pd.Series(data)

In [5]:
dados_series

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [6]:
# Preenche os NaN como 0
dados_series.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [10]:
# Preenche os NaN com o número de cima
dados_series.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [11]:
# Preenche os NaN com o número de baixo
dados_series.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [13]:
# Pode-se colocar limite nos fill NA para aplicação do método
# Exemplo: aplicando limite 1 ele não faz duas alterações NAN seguidas
dados_series.fillna(method = 'bfill', limit = 1)

0     0.50
1      NaN
2     0.52
3     0.52
4     0.54
5      NaN
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [14]:
dados_series

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64